.news-container{
    margin: 20px;
}

.news-date{
    margin-top: 25px;
}

.headline-container {
  text-transform: uppercase;
  margin-top: 30px;
}

.headline {
  font-weight: 700;
  font-size: 50px;
}

.subtitle {
  font-weight: 700;
  font-size: 24px;
}

.news-content{
    margin-top: 30px;
}

.close-btn{
    float: right;
    font-size: 25px;
}
