.card-container {
  background-color: #e5eaee;
  padding: 10px;
  font-family: "Inter";
  font-style: normal;
  cursor: pointer;
}

.date {
  padding-top: 30px;  
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #181818;
}

.headline {
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  color: #c4132f;
  display: inline-block;
}
